<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Sensors</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css"/>
    <link rel="stylesheet" href="/assets/css/header.css" type="text/css"/>
</head>
<body>
<div class="container">
    <header>
        <img src="/assets/image/starbucks_logo.png" alt="logo area" class="logo"/>
        <nav class="top_nav">
            <ul>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/blaa">Blaa</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/sensors/index">Sensors</a></li>
                <li><a href="/chips">Chips</a></li>
                <li><a href="/sinks">Sinks</a></li>
                <li><a href="/queries">Queries</a></li>
                <li><a href="/records">Records</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </header>
</div>
<div >
    <form action="#" th:action="add" th:object="${sensor}" method="post">
        <label>IP Adress: </label><input type="text" th:field="*{ipAddress}"/>
        <br/>
        <label>Sensor type: </label><input type="text" th:field="*{sensorType}"/>
        <br/>

        <input type="submit" value="Add"/>
    </form>
</div>
</body>
</html>