<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Sensors</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css"/>
    <link rel="stylesheet" href="/assets/css/header.css" type="text/css"/>
</head>
<body>
<div th:include="/shared/menu :: menu"></div>
<div >
    <form action="#" th:action="add" method="post">
        <label>IP Adress: </label><input type="text" th:name="ipAddress"/>
        <br/>
        <label>Sensor type: </label><input type="text" th:name="sensorType"/>
        <br/>
        <ul>
            <li th:each="s : ${sinks}">
                <input type="checkbox" th:value="${s.id}" th:text="${s.uri}" th:name="sinks"/>
            </li>
        </ul>
        <br/>
        <input type="submit" value="Add"/>
    </form>
</div>
</body>
</html>