<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Sink</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css"/>
    <link rel="stylesheet" href="/assets/css/header.css" type="text/css"/>

    <!-- ne treba verzija jer webjars automatski stavi-->
    <script type="text/javascript" src='/webjars/jquery/jquery.min.js'></script>

    <script src="/webjarsjs"></script>
    <script data-main="/js/app" src="/webjars/requirejs/require.min.js"></script>
</head>
<body>

<div th:include="/shared/menu :: menu"></div>

<div >
    <form action="#" th:action="save" method="post" th:object="${sink}">
        <input type="hidden" th:field="*{id}" th:value="${sink.id}" />
        <input type="hidden" th:field="*{userId}" th:value="${sink.userId}" />
        <label>Uri: </label><input type="text" th:value="${sink.uri}" th:field="*{uri}"/>
        <br/>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>