<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>I am text in browser tab</title>

    <!-- ne treba href="../static/assets/css/index.css" zbog addResourceHandlers  -->
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css"/>
    <link rel="stylesheet" href="/assets/css/header.css" type="text/css"/>

    <!-- ne treba verzija jer webjars automatski stavi-->
    <script type="text/javascript" src='/webjars/jquery/jquery.min.js'></script>

    <script src="/webjarsjs"></script>
    <script data-main="/js/app" src="/webjars/requirejs/require.min.js"></script>
</head>

<body>

<div th:include="/shared/menu :: menu"></div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#hello_jquery").html("Projekt");
    });

</script>

<div id="hello_jquery"></div>


<h1>
    IoT platform
</h1>

</body>
</html>