<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>I am text in browser tab</title>

    <!-- ne treba href="../static/assets/css/index.css" zbog addResourceHandlers  -->
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css"/>
    <link rel="stylesheet" href="/assets/css/header.css" type="text/css"/>

    <!-- ne treba verzija jer webjars automatski stavi-->
    <script type="text/javascript" src='/webjars/jquery/jquery.min.js'></script>

    <script src="/webjarsjs"></script>
    <script data-main="/js/app" src="/webjars/requirejs/require.min.js"></script>
</head>

<body>

<div th:include="/shared/menu :: menu"></div>

<h3>List of sinks</h3>
<div>
    <table>
        <thead>
        <tr>
            <th>Sink ID</th>
            <th>Sink URI</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="sinks" type="Iterable<hr.fer.model.Sink>"*/-->
        <!--/*@thymesVar id="sink" type="hr.fer.model.Sink"*/-->
        <tr th:each="sink : ${sinks}">
            <td th:text="${sink.id}"></td>
            <td th:text="${sink.uri}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>