<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container" th:fragment="menu">
    <header>
        <nav class="top_nav">
            <ul>
                <!--OVDJE IDU RUTE ZA KONTRLERE, A NE DO HMTL FAJLOVA -->

                <li><a href="/">Home</a></li>

                <li><a href="/sensors/index">Sensors</a></li>
                <li><a href="/sinks/index">Sinks</a></li>
                <li><a href="/chips/index">Chips</a></li>

                <li><a href="/records">Records</a></li>
                <li><a href="/queries/index">Queries</a></li>

                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </header>
</div>

I am Platforma.

</body>
</html>